@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
}

::selection {
	background-color: #e5e5e5;
}
body {
	background-color: #F6F6F6;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #929292;
	user-select: none;
	min-width: 280px;
}
.App {
	width: 80%;
	max-width: 1000px;
	margin: auto;
}
.content {
	background-color: white;
	box-shadow: 0px 2px 4px rgb(219 219 219 / 50%);
	margin: 40px 0 10px 0;
	padding: 20px 20px 10px 20px;
}
.content > div:first-of-type {
	width: 100%;
	max-width: 600px;
	margin: auto;
}
.content > div > div {
	margin: auto;
	width: 100%;
	max-width: 310px
}
h1 {
	text-align: center;
	margin-bottom: 60px;
	font-weight: 400;
	color: #707070;
}
.operation-container, 
.options-container > div > div {
	display: flex;
	justify-content: space-between;
	cursor: default;
}
.operation-container {
	margin-bottom: 35px;
}
.options-container > div > div {
	margin-bottom: 25px;
}
.operation-container > p,
.options-container > div > div > p {
	margin-right: 15px;
}
.option {
	width: 180px;
	height: 25px;
	border-bottom: 1px solid #808080;
	position: relative;
}
.options-container > p, .option > p {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.option > p {
	color: #535353
}
.options-container > p {
	margin: 15px 0 15px auto;
	width: 85px;
	transition: .8s ;
}
.options-container > div {
	height: 0;
	overflow: hidden;
	transition: .8s .8s;
}
.options-container.active > p {
	width: 100%;
}
.triangle, .arrow{
	margin-left: 10px;
}
.triangle {
	transition: .3s linear;
}
.arrow {
	transition: .8s .8s;
}
ul {
	position: absolute;
	top: 30px;
	width: 100%;
	margin: 0;
	list-style: none;
	padding: 0;
	height: 0;
	overflow: hidden;
	transition: .3s linear;
	background-color: #f5f5f5;
	z-index: 100;
	color: #6e6e6e;
}
.option.operation.active ul {
	height: 87px;
}
.option.kana.active ul,
.option.language.active ul, 
.option.guess.active ul {
	height: 58px;
}
.option.system.active ul {
	height: 87.3px
}

.option.active .triangle {
	transform: rotate(180deg) translateY(-5px);
}
.options-container.active .arrow {
	transform: rotate(180deg) translateY(-2px);
}

ul li {
	padding: 5px;
}
ul li.active {
	background-color: #dbdbdb;
    color: #434343;
}

input[type=text] {
	padding: 10px;
	width: 100%;
	font-size: 16px;
	margin: 60px 0 20px 0;
	outline: none;
	border: 1px solid #b9b9b9;
	font-family: "Roboto", sans-serif;
}
input[type=text]:focus {
	border: 1px solid #818181
}
input[type=text]::placeholder {
	color: rgb(110, 110, 110)
}

.result {
	font-size: 18px;
	user-select: text;
	padding: 10px 15px;
    background-color: #f6f6f6;
}


.links {
	margin: 100px 0 0 auto;
	width: fit-content
}
.links img {
	width: 45px
}
.links a:first-child {
	margin-right: 20px
}


@media (max-width: 425px) {
	.operation-container,
	.options-container > div > div {
		flex-direction: column;
		align-items: center;
	}
	.operation-container > p,
	.options-container > div > div > p {
		margin-bottom: 10px
	}
	.options-container > p {
		margin: 15px auto 15px auto;
	}
	.options-container.active > p {
		width: 80%;
	}
	.option {
		width: 100%;
	}
}