@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
}

::selection {
	background-color: #e5e5e5;
}
body {
	background-color: #F6F6F6;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #616161;
	user-select: none;
	min-width: 280px;
}

header {
	min-height: 78px;
	font-size: 26px;
	padding: 20px 45px;
	border-bottom: 1px solid #949494;
	margin-bottom: 40px;
	color: #919191;
}
header h1 {
	font-size: 30px;
	font-weight: 400;
	color: #646464;
	display: inline;
}

main {
	width: 80%;
	max-width: 1500px;
	margin: auto;
	min-height: calc(100vh - 202px)
}
.settings {
	max-width: 450px;
	margin: 0 auto 60px auto;
}
.operation-container, 
.options-container > div > div {
	display: flex;
	justify-content: space-between;
	cursor: default;
}
.operation-container {
	margin-bottom: 35px;
}
.options-container > div > div {
	margin-bottom: 25px;
}
.operation-container > p,
.options-container > div > div > p {
	margin-right: 15px;
}
.option {
	width: 180px;
	height: 25px;
	border-bottom: 1px solid #b5b5b5;
	position: relative;
}
.options-container > p, .option > p {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.option > p {
	color: #535353
}
.options-container > p {
	margin: 15px 0 15px auto;
	width: 85px;
	transition: .8s ;
}
.options-container > div {
	height: 0;
	overflow: hidden;
	transition: .8s .8s;
}
.options-container.active > p {
	width: 100%;
}
.triangle, .arrow{
	margin-left: 10px;
}
.triangle {
	transition: .3s linear;
}
.arrow {
	transition: .8s .8s;
}
ul {
	position: absolute;
	top: 30px;
	width: 100%;
	margin: 0;
	list-style: none;
	padding: 0;
	height: 0;
	overflow: hidden;
	transition: .3s linear;
	background-color: #efefef;
	z-index: 100;
	color: #6e6e6e;
}
.option.operation.active ul {
	height: 87px;
}
.option.kana.active ul,
.option.language.active ul, 
.option.guess.active ul {
	height: 58px;
}
.option.system.active ul {
	height: 87.3px
}

.option.active .triangle {
	transform: rotate(180deg) translateY(-5px);
}
.options-container.active .arrow {
	transform: rotate(180deg) translateY(-2px);
}

ul li {
	padding: 5px;
}
ul li.active {
	background-color: #dbdbdb;
    color: #434343;
}

.type-block {
	display: flex;
	justify-content: space-around;
}
.type-block textarea {
	vertical-align: text-top;
	background-color: #FBFBFB;
	width: 40%;
	padding: 30px;
	font-size: 24px;
	outline: none;
	border: 1px solid #e8e8e8;
	border-radius: 15px;
	min-height: 200px;
	color: #5a5a5a;
	resize: none;
	scrollbar-color: #d9d9d9 #FBFBFB;
}

.type-block textarea::placeholder {
	color: #929292
}

footer div {
	width: fit-content;
	margin: 0 20px 20px auto;
}
footer a img {
	width: 60px;
}

@media screen and (max-width: 800px) {
	header {
		font-size: 22px;
	}
	header h1 {
		font-size: 26px;
	}
	.type-block {
		flex-direction: column;
		align-items: center;
	}
	.type-block textarea {
		width: 100%;
		font-size: 20px
	}
	.type-block :first-child {
		margin-bottom: 30px 
	}
	.type-block :nth-child(2) {
		margin-bottom: 60px 
	}

	footer div {
		margin-right: auto;
	}
}
@media (max-width: 425px) {
	.operation-container,
	.options-container > div > div {
		flex-direction: column;
	}
	.operation-container > p,
	.options-container > div > div > p {
		margin-bottom: 10px
	}
	.options-container > p {
		margin: 15px auto 15px auto;
	}
	.option {
		width: 100%;
	}
}